{% extends 'base.html' %}

{% block title %}Customer Registration{% endblock %}

{% block content %}
<style>
    .errorlist{
        color: red;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <hr><h5 style="text-align:center;">Customer Registration Form</h5><hr>
            <form action="" method="POST" style="text-align:center;">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-primary btn-sm">Register</button>
            </form>
            <p style="text-align:center;"> Already have an account? <a href="{% url 'ecomapp:customerlogin' %}">Login here</a></p>
        </div>
    </div>
</div>
{% endblock %}